include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include customer_api *.css
recursive-include customer_api *.csv
recursive-include customer_api *.html
recursive-include customer_api *.ico
recursive-include customer_api *.js
recursive-include customer_api *.json
recursive-include customer_api *.md
recursive-include customer_api *.png
recursive-include customer_api *.py
recursive-include customer_api *.svg
recursive-include customer_api *.txt
recursive-exclude customer_api *.pyc

